{#
/**
 * @file
 * Theme override for block--degov-social-media-youtube.
 */
#}
{% block content %}
  {{ subject }}
  <div class="block--degov-social-media-youtube ">
    <div class="container">
      <div class="paragraph__header mb-5">
        <h2>
          {{ "Teaser social media"|t }}
        </h2>
        <h3 class="sub-title">{{ "Youtube Teaser"|t }}</h3>
        <div class="under-teasers-header-line mt-4"></div>
      </div>

      <div class="paragraph__content row">
        {% if content %}
          {{ content }}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
