parameters:
	ignoreErrors:
		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 5
			path: docroot/modules/contrib/scheduled_publish/src/Form/DeleteUpdateForm.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 6
			path: docroot/modules/contrib/scheduled_publish/src/Form/EditUpdateForm.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 10
			path: docroot/modules/contrib/scheduled_publish/src/Form/MultipleUpdatesForm.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: docroot/modules/contrib/scheduled_publish/src/Plugin/Field/FieldFormatter/ScheduledPublishGenericFormatter.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 3
			path: docroot/modules/contrib/scheduled_publish/src/Plugin/Field/FieldWidget/ScheduledPublishWidget.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 4
			path: docroot/modules/contrib/scheduled_publish/tests/src/Kernel/FormatterTest.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/modules/contrib/scheduled_publish/tests/src/Kernel/MediaTest.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/modules/contrib/scheduled_publish/tests/src/Kernel/NodeTest.php

		-
			message: "#^Call to deprecated function system_get_info\\(\\)\\:\nin drupal\\:8\\.8\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use\n\\\\Drupal\\:\\:service\\('extension\\.list\\.\\$type'\\)\\-\\>getExtensionInfo\\(\\) or\n\\\\Drupal\\:\\:service\\('extension\\.list\\.\\$type'\\)\\-\\>getAllInstalledInfo\\(\\) instead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/degov.install

		-
			message: "#^Call to deprecated constant FILE_CREATE_DIRECTORY\\: Deprecated in drupal\\:8\\.7\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use \\\\Drupal\\\\Core\\\\File\\\\FileSystemInterface\\:\\:CREATE_DIRECTORY\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/degov.install

		-
			message: "#^Call to deprecated constant FILE_MODIFY_PERMISSIONS\\: Deprecated in drupal\\:8\\.7\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use \\\\Drupal\\\\Core\\\\File\\\\FileSystemInterface\\:\\:MODIFY_PERMISSIONS\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/degov.install

		-
			message: "#^Call to deprecated function file_prepare_directory\\(\\)\\:\nin drupal\\:8\\.7\\.0 and is removed from drupal\\:9\\.0\\.0\\.\nUse \\\\Drupal\\\\Core\\\\File\\\\FileSystemInterface\\:\\:prepareDirectory\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/degov.install

		-
			message: "#^Call to deprecated function file_scan_directory\\(\\)\\:\nin drupal\\:8\\.8\\.0 and is removed from drupal\\:9\\.0\\.0\\.\nUse \\\\Drupal\\\\Core\\\\File\\\\FileSystemInterface\\:\\:scanDirectory\\(\\) instead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/degov.install

		-
			message: "#^Call to deprecated constant FILE_EXISTS_ERROR\\: Deprecated in drupal\\:8\\.7\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use \\\\Drupal\\\\Core\\\\File\\\\FileSystemInterface\\:\\:EXISTS_ERROR\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/degov.install

		-
			message: "#^Call to deprecated function file_unmanaged_copy\\(\\)\\:\nin drupal\\:8\\.7\\.0 and is removed from drupal\\:9\\.0\\.0\\.\nUse \\\\Drupal\\\\Core\\\\File\\\\FileSystemInterface\\:\\:copy\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/degov.install

		-
			message: "#^Call to deprecated function drupal_get_messages\\(\\)\\:\nin drupal\\:8\\.5\\.0 and is removed from drupal\\:9\\.0\\.0\\.\nUse \\\\Drupal\\\\Core\\\\Messenger\\\\MessengerInterface\\:\\:all\\(\\) or\n\\\\Drupal\\\\Core\\\\Messenger\\\\MessengerInterface\\:\\:messagesByType\\(\\) instead\\.$#"
			count: 5
			path: docroot/profiles/contrib/degov/degov.profile

		-
			message: "#^Call to deprecated function system_rebuild_module_data\\(\\)\\:\nin drupal\\:8\\.8\\.0 and is removed from drupal\\:9\\.0\\.0\\.\nUse \\\\Drupal\\:\\:service\\('extension\\.list\\.module'\\)\\-\\>getList\\(\\) instead\\.\nNote\\: use reset\\(\\) only when you really need to rescan and rebuild the list\\.$#"
			count: 3
			path: docroot/profiles/contrib/degov/degov.profile

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 2
			path: docroot/profiles/contrib/degov/modules/degov_behat_extension/src/BehatContext/PerformanceContext.php

		-
			message: "#^Cannot unset offset string on array\\<int, \\(int\\|string\\)\\>\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/degov_common/src/Entity/WorkflowHandler.php

		-
			message: "#^Undefined variable\\: \\$argument$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/degov_paragraph_view_reference/degov_paragraph_view_reference.module

		-
			message: "#^Call to deprecated method getBaseThemes\\(\\) of class Drupal\\\\Core\\\\Theme\\\\ActiveTheme\\:\nin drupal\\:8\\.7\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use\n\\\\Drupal\\\\Core\\\\Theme\\\\ActiveTheme\\:\\:getBaseThemeExtensions\\(\\) instead\\.$#"
			count: 2
			path: docroot/profiles/contrib/degov/modules/degov_theming/src/Service/Template.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/degov_theming/tests/src/Kernel/TemplateTest.php

		-
			message: "#^Parameter \\$entity_query of method Drupal\\\\lightning_roles\\\\ContentRoleManager\\:\\:__construct\\(\\) has typehint with deprecated class Drupal\\\\Core\\\\Entity\\\\Query\\\\QueryFactory\\:\nin drupal\\:8\\.3\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use\n\\\\Drupal\\\\Core\\\\Entity\\\\EntityStorageInterface\\:\\:getQuery\\(\\) or\n\\\\Drupal\\\\Core\\\\Entity\\\\EntityStorageInterface\\:\\:getAggregateQuery\\(\\) instead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_core/modules/lightning_roles/src/ContentRoleManager.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_core/modules/lightning_roles/src/Form/SettingsForm.php

		-
			message: "#^You should use assertFalse\\(\\) instead of assertSame\\(\\) when expecting \"false\"$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_core/modules/lightning_roles/tests/src/Kernel/ContentRoleTest.php

		-
			message: "#^Call to deprecated function entity_get_form_display\\(\\)\\:\nin drupal\\:8\\.8\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use\nEntityDisplayRepositoryInterface\\:\\:getFormDisplay\\(\\) instead\\.$#"
			count: 2
			path: docroot/profiles/contrib/degov/modules/lightning_core/modules/lightning_test/lightning_test.install

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_core/src/BundleEntityStorage.php

		-
			message: "#^Call to deprecated method strpos\\(\\) of class Drupal\\\\Component\\\\Utility\\\\Unicode\\:\nin drupal\\:8\\.6\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use\nmb_strpos\\(\\) instead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_core/src/ConfigHelper.php

		-
			message: "#^Call to deprecated method strlen\\(\\) of class Drupal\\\\Component\\\\Utility\\\\Unicode\\:\nin drupal\\:8\\.6\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use\nmb_strlen\\(\\) instead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_core/src/ConfigHelper.php

		-
			message: "#^Call to deprecated method substr\\(\\) of class Drupal\\\\Component\\\\Utility\\\\Unicode\\:\nin drupal\\:8\\.6\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use\nmb_substr\\(\\) instead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_core/src/ConfigHelper.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: docroot/profiles/contrib/degov/modules/lightning_core/src/ConfigHelper.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_core/src/Controller/FieldUiTitleController.php

		-
			message: "#^Parameter \\$query_factory of method Drupal\\\\lightning_core\\\\DisplayHelper\\:\\:__construct\\(\\) has typehint with deprecated class Drupal\\\\Core\\\\Entity\\\\Query\\\\QueryFactory\\:\nin drupal\\:8\\.3\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use\n\\\\Drupal\\\\Core\\\\Entity\\\\EntityStorageInterface\\:\\:getQuery\\(\\) or\n\\\\Drupal\\\\Core\\\\Entity\\\\EntityStorageInterface\\:\\:getAggregateQuery\\(\\) instead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_core/src/DisplayHelper.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_core/src/Form/EntityDisplayModeAddForm.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_core/src/Form/EntityDisplayModeEditForm.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_core/src/Form/EntityFormModeAddForm.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_core/src/Form/RoleForm.php

		-
			message: "#^Call to deprecated function system_rebuild_module_data\\(\\)\\:\nin drupal\\:8\\.8\\.0 and is removed from drupal\\:9\\.0\\.0\\.\nUse \\\\Drupal\\:\\:service\\('extension\\.list\\.module'\\)\\-\\>getList\\(\\) instead\\.\nNote\\: use reset\\(\\) only when you really need to rescan and rebuild the list\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_core/src/UpdateManager.php

		-
			message: "#^Call to deprecated function file_unmanaged_copy\\(\\)\\:\nin drupal\\:8\\.7\\.0 and is removed from drupal\\:9\\.0\\.0\\.\nUse \\\\Drupal\\\\Core\\\\File\\\\FileSystemInterface\\:\\:copy\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/lightning_media.install

		-
			message: "#^Call to deprecated function drupal_installation_attempted\\(\\)\\:\nin drupal\\:8\\.8\\.0 and is removed from drupal\\:9\\.0\\.0\\.\nUse \\\\Drupal\\\\Core\\\\Installer\\\\InstallerKernel\\:\\:installationAttempted\\(\\)\ninstead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/lightning_media.module

		-
			message: "#^Call to deprecated function entity_load\\(\\)\\:\nin drupal\\:8\\.0\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use the\nentity type storage's load\\(\\) method\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/lightning_media.module

		-
			message: "#^Call to deprecated method strtolower\\(\\) of class Drupal\\\\Component\\\\Utility\\\\Unicode\\:\nin drupal\\:8\\.6\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use\nmb_strtolower\\(\\) instead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/lightning_media.module

		-
			message: "#^Call to deprecated function entity_get_form_display\\(\\)\\:\nin drupal\\:8\\.8\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use\nEntityDisplayRepositoryInterface\\:\\:getFormDisplay\\(\\) instead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/lightning_media.module

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/modules/lightning_media_bulk_upload/src/Form/BulkUploadForm.php

		-
			message: "#^Call to deprecated function file_upload_max_size\\(\\)\\:\nin drupal\\:8\\.7\\.0 and is removed from drupal\\:9\\.0\\.0\\.\nUse \\\\Drupal\\\\Component\\\\Utility\\\\Environment\\:\\:getUploadMaxSize\\(\\) instead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/modules/lightning_media_bulk_upload/src/Form/BulkUploadForm.php

		-
			message: "#^Call to deprecated function drupal_set_message\\(\\)\\:\nin drupal\\:8\\.5\\.0 and is removed from drupal\\:9\\.0\\.0\\.\nUse \\\\Drupal\\\\Core\\\\Messenger\\\\MessengerInterface\\:\\:addMessage\\(\\) instead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/modules/lightning_media_bulk_upload/src/Form/BulkUploadForm.php

		-
			message: "#^Call to deprecated function entity_get_form_display\\(\\)\\:\nin drupal\\:8\\.8\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use\nEntityDisplayRepositoryInterface\\:\\:getFormDisplay\\(\\) instead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/modules/lightning_media_image/lightning_media_image.install

		-
			message: "#^Call to deprecated function drupal_installation_attempted\\(\\)\\:\nin drupal\\:8\\.8\\.0 and is removed from drupal\\:9\\.0\\.0\\.\nUse \\\\Drupal\\\\Core\\\\Installer\\\\InstallerKernel\\:\\:installationAttempted\\(\\)\ninstead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/modules/lightning_media_image/lightning_media_image.module

		-
			message: "#^Call to deprecated function entity_load\\(\\)\\:\nin drupal\\:8\\.0\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use the\nentity type storage's load\\(\\) method\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/modules/lightning_media_image/lightning_media_image.module

		-
			message: "#^Call to deprecated function file_create_filename\\(\\)\\:\nin drupal\\:8\\.7\\.0 and is removed from drupal\\:9\\.0\\.0\\.\nUse \\\\Drupal\\\\Core\\\\File\\\\FileSystemInterface\\:\\:createFilename\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/src/Element/Upload.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/modules/lightning_media_document/src/Plugin/media/Source/File.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/modules/lightning_media_image/src/Plugin/media/Source/Image.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/modules/lightning_media_video/src/Plugin/media/Source/VideoFile.php

		-
			message: "#^Call to deprecated constant FILE_EXISTS_RENAME\\: Deprecated in drupal\\:8\\.7\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use \\\\Drupal\\\\Core\\\\File\\\\FileSystemInterface\\:\\:EXISTS_RENAME\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/src/MediaHelper.php

		-
			message: "#^Call to deprecated constant FILE_CREATE_DIRECTORY\\: Deprecated in drupal\\:8\\.7\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use \\\\Drupal\\\\Core\\\\File\\\\FileSystemInterface\\:\\:CREATE_DIRECTORY\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/src/MediaHelper.php

		-
			message: "#^Call to deprecated constant FILE_MODIFY_PERMISSIONS\\: Deprecated in drupal\\:8\\.7\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use \\\\Drupal\\\\Core\\\\File\\\\FileSystemInterface\\:\\:MODIFY_PERMISSIONS\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/src/MediaHelper.php

		-
			message: "#^Call to deprecated function file_prepare_directory\\(\\)\\:\nin drupal\\:8\\.7\\.0 and is removed from drupal\\:9\\.0\\.0\\.\nUse \\\\Drupal\\\\Core\\\\File\\\\FileSystemInterface\\:\\:prepareDirectory\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/src/MediaHelper.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/src/Plugin/EntityBrowser/Widget/EntityFormProxy.php

		-
			message: "#^Access to an undefined property Drupal\\\\lightning_media_instagram\\\\Plugin\\\\media\\\\Source\\\\Instagram\\:\\:\\$typedDataManager\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/modules/lightning_media_instagram/src/Plugin/media/Source/Instagram.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/modules/lightning_media_instagram/src/Plugin/media/Source/Instagram.php

		-
			message: "#^Access to an undefined property Drupal\\\\lightning_media_twitter\\\\Plugin\\\\media\\\\Source\\\\Twitter\\:\\:\\$typedDataManager\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/modules/lightning_media_twitter/src/Plugin/media/Source/Twitter.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/modules/lightning_media_twitter/src/Plugin/media/Source/Twitter.php

		-
			message: "#^Call to deprecated function entity_get_form_display\\(\\)\\:\nin drupal\\:8\\.8\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use\nEntityDisplayRepositoryInterface\\:\\:getFormDisplay\\(\\) instead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/tests/modules/test_10a21ffe/test_10a21ffe.install

		-
			message: "#^Usage of deprecated trait Drupal\\\\Tests\\\\media\\\\Functional\\\\MediaFunctionalTestCreateMediaTypeTrait in class Drupal\\\\Tests\\\\lightning_media\\\\Kernel\\\\MediaTypeTest\\:\nin drupal\\:8\\.6\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use\n\\\\Drupal\\\\Tests\\\\media\\\\Traits\\\\MediaTypeCreationTrait instead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/tests/src/Kernel/MediaTypeTest.php

		-
			message: "#^Call to deprecated function entity_get_form_display\\(\\)\\:\nin drupal\\:8\\.8\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use\nEntityDisplayRepositoryInterface\\:\\:getFormDisplay\\(\\) instead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/tests/src/Kernel/MediaTypeTest.php

		-
			message: "#^Call to deprecated method assertInternalType\\(\\) of class PHPUnit\\\\Framework\\\\Assert\\:\nhttps\\://github\\.com/sebastianbergmann/phpunit/issues/3369$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/lightning_media/tests/src/Kernel/MediaTypeTest.php

		-
			message: "#^Parameter \\$entity of method Drupal\\\\node_action\\\\AccessChecker\\\\ActionAbstractInterface\\:\\:canAccess\\(\\) has typehint with deprecated class Drupal\\\\Core\\\\Entity\\\\Entity\\:\nin drupal\\:8\\.7\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use\n\\\\Drupal\\\\Core\\\\Entity\\\\EntityBase instead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/node_action/src/AccessChecker/ActionAbstractInterface.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/node_action/src/Form/Author.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/node_action/src/Form/ModerationState.php

		-
			message: "#^Call to deprecated function drupal_get_user_timezone\\(\\)\\:\nin drupal\\:8\\.8\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use\ndate_default_timezone_get\\(\\) instead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/node_action/src/Form/ModerationState.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/node_action/src/Plugin/Action/ChangeAuthorAction.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/node_action/src/Plugin/Action/ChangeModerationStateAction.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/node_action/src/Plugin/Action/PublishAction.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/node_action/src/Plugin/Action/UnpublishAction.php

		-
			message: "#^Call to deprecated method assertInternalType\\(\\) of class PHPUnit\\\\Framework\\\\Assert\\:\nhttps\\://github\\.com/sebastianbergmann/phpunit/issues/3369$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/node_action/tests/src/Unit/RedirectorTest.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/styled_google_map/src/Form/StyledGoogleMapSettingsForm.php

		-
			message: "#^Call to deprecated method l\\(\\) of class Drupal\\:\nin drupal\\:8\\.0\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use\n\\\\Drupal\\\\Core\\\\Link\\:\\:fromTextAndUrl\\(\\) instead\\.$#"
			count: 4
			path: docroot/profiles/contrib/degov/modules/styled_google_map/src/Plugin/Field/FieldFormatter/StyledGoogleMapDefaultFormatter.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 5
			path: docroot/profiles/contrib/degov/modules/styled_google_map/src/Plugin/Field/FieldFormatter/StyledGoogleMapDefaultFormatter.php

		-
			message: "#^Call to deprecated method entityManager\\(\\) of class Drupal\\:\nin drupal\\:8\\.0\\.0 and is removed from drupal\\:9\\.0\\.0\\.\nUse \\\\Drupal\\:\\:entityTypeManager\\(\\) instead in most cases\\. If the needed\nmethod is not on \\\\Drupal\\\\Core\\\\Entity\\\\EntityTypeManagerInterface, see the\ndeprecated \\\\Drupal\\\\Core\\\\Entity\\\\EntityManager to find the\ncorrect interface or service\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/styled_google_map/src/Plugin/Field/FieldFormatter/StyledGoogleMapDefaultFormatter.php

		-
			message: "#^Access to constant VERBOSITY_DEBUG on an unknown class degov\\\\Scripts\\\\Robo\\\\VerbosityThresholdInterface\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/scripts/Robo/ConsoleReturn.php

		-
			message: "#^Call to an undefined method Drupal\\\\degov\\\\Robo\\\\Plugin\\\\Commands\\\\DeGovCommands\\:\\:checkNodeVersion\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/src/Robo/Plugin/Commands/DeGovCommands.php

		-
			message: "#^Call to an undefined method Drupal\\\\degov\\\\Robo\\\\Plugin\\\\Commands\\\\DeGovPipelineCommands\\:\\:checkNodeVersion\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/src/Robo/Plugin/Commands/DeGovPipelineCommands.php

		-
			message: "#^Call to an undefined method Drupal\\\\degov\\\\Robo\\\\Plugin\\\\Commands\\\\ExampleCommands\\:\\:checkNodeVersion\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/src/Robo/Plugin/Commands/ExampleCommands.php

		-
			message: "#^Call to deprecated method assertInternalType\\(\\) of class PHPUnit\\\\Framework\\\\Assert\\:\nhttps\\://github\\.com/sebastianbergmann/phpunit/issues/3369$#"
			count: 1
			path: docroot/profiles/contrib/degov/scripts/Robo/Test/UtilitiesTest.php

		-
			message: "#^Result of static method degov\\\\Scripts\\\\Robo\\\\Utilities\\:\\:checkNodeVersion\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/scripts/Robo/Test/UtilitiesTest.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/profiles/contrib/degov/testing/behat/context/BlockContext.php

		-
			message: "#^Call to an undefined method Drupal\\\\degov\\\\Behat\\\\Context\\\\BlockContext\\:\\:generateCurrentBrowserViewDebuggingOutput\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/testing/behat/context/BlockContext.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 27
			path: docroot/profiles/contrib/degov/testing/behat/context/DrupalContext.php

		-
			message: "#^Call to deprecated function drupal_get_user_timezone\\(\\)\\:\nin drupal\\:8\\.8\\.0 and is removed from drupal\\:9\\.0\\.0\\. Use\ndate_default_timezone_get\\(\\) instead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/testing/behat/context/FormContext.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 3
			path: docroot/profiles/contrib/degov/testing/behat/context/FormContext.php

		-
			message: "#^Instantiated class Drupal\\\\degov\\\\Behat\\\\Context\\\\TextNotFoundException not found\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/testing/behat/context/ModuleContext.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 2
			path: docroot/profiles/contrib/degov/testing/behat/context/ModuleContext.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 6
			path: docroot/profiles/contrib/degov/testing/behat/context/NodeContentTypeFormContext.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 3
			path: docroot/profiles/contrib/degov/testing/behat/context/DrupalIndependentContext.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 2
			path: docroot/profiles/contrib/degov/testing/behat/context/InstallationContext.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 2
			path: docroot/profiles/contrib/degov/testing/behat/context/JavaScriptContext.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 2
			path: docroot/profiles/contrib/degov/testing/behat/context/SmokeTestContext.php

		-
			message: "#^Call to deprecated function drupal_installation_attempted\\(\\)\\:\nin drupal\\:8\\.8\\.0 and is removed from drupal\\:9\\.0\\.0\\.\nUse \\\\Drupal\\\\Core\\\\Installer\\\\InstallerKernel\\:\\:installationAttempted\\(\\)\ninstead\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/themes/degov_theme/degov_theme.theme

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/themes/degov_theme/src/Preprocess/MenuAccount.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/themes/degov_theme/src/Preprocess/Node.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/themes/degov_theme/src/Preprocess/ViewsSearchContentAndMediaSorts.php

