parameters:
	bootstrap: docroot/core/tests/bootstrap.php
	ignoreErrors:
	  - '#Function t not found.#'
	  - '#Function system_region_list not found.#'
	  - '#Function drupal_set_message not found.#'
	  - '#Function file_scan_directory not found.#'
	  - '#Function watchdog_exception not found.#'
	  - '#Function drupal_get_path not found.#'
	  - '#Function batch_set not found.#'
	  - '#Function node_access_rebuild not found.#'
	  - '#Constant DRUPAL_ROOT not found.#'
	  - '#Function render not found.#'
	  - '#Function drupal_basename not found.#'
	  - '#Function locale_translation_get_status not found.#'
	  - '#Function _locale_translation_default_update_options not found.#'
	  - '#Function locale_translation_clear_status not found.#'
	  - '#Function locale_translation_batch_update_build not found.#'
	  - '#Constructor of class Drupal\\degov_users_roles\\Plugin\\Derivative\\WorkbenchMenuLinks has an unused parameter $base_plugin_id.#'
	  - '#Function file_default_scheme not found.#'
   excludes_analyse:
    - "%rootDir%/docroot/profiles/contrib/degov/modules/**/*.post_update.php"
