includes:
  - phpstan-baseline.neon

parameters:
  level: 0
  scanFiles:
    - docroot/core/modules/locale/locale.fetch.inc
    - docroot/core/modules/locale/locale.bulk.inc
    - docroot/core/modules/locale/locale.translation.inc
  paths:
    - docroot/profiles/contrib/degov
    - docroot/modules/contrib/scheduled_publish
    - docroot/modules/contrib/degov_simplenews
  excludes_analyse:
    - docroot/profiles/contrib/degov/modules/lightning_media/tests/contexts/
    - docroot/profiles/contrib/degov/modules/lightning_core/tests/contexts/
    - docroot/profiles/contrib/degov/modules/forks/
  # Ignore phpstan-drupal extension's rules.
  ignoreErrors:
    - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
