parameters:
	ignoreErrors:
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: docroot/modules/contrib/scheduled_publish/src/Plugin/Field/FieldFormatter/ScheduledPublishGenericFormatter.php

		-
			message: "#^Cannot unset offset string on array\\<int, \\(int\\|string\\)\\>\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/modules/degov_common/src/Entity/WorkflowHandler.php

		-
			message: "#^Call to an undefined method Drupal\\\\degov\\\\Robo\\\\Plugin\\\\Commands\\\\DeGovCommands\\:\\:checkNodeVersion\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/src/Robo/Plugin/Commands/DeGovCommands.php

		-
			message: "#^Call to an undefined method Drupal\\\\degov\\\\Robo\\\\Plugin\\\\Commands\\\\DeGovPipelineCommands\\:\\:checkNodeVersion\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/src/Robo/Plugin/Commands/DeGovPipelineCommands.php

		-
			message: "#^Call to an undefined method Drupal\\\\degov\\\\Robo\\\\Plugin\\\\Commands\\\\ExampleCommands\\:\\:checkNodeVersion\\(\\)\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/src/Robo/Plugin/Commands/ExampleCommands.php

		-
			message: "#^Instantiated class Drupal\\\\degov\\\\Behat\\\\Context\\\\TextNotFoundException not found\\.$#"
			count: 1
			path: docroot/profiles/contrib/degov/testing/behat/context/ModuleContext.php

