includes:
  - phpstan-baseline.neon

parameters:
  level: 0
  paths:
    - docroot/profiles/contrib/degov
  excludes_analyse:
    - docroot/profiles/contrib/degov/modules/lightning_media/tests/contexts/
    - docroot/profiles/contrib/degov/modules/lightning_core/tests/contexts/
