.degov-carousel {
  .carousel-inner{
    max-height: 991px;
  }
  article.image{
    max-height: 801px;
    contain: size;
  }
  .carousel-control {
    .carousel-control-icon {
      width: 25px;
      height: 50px;
    }
  }
  .carousel-caption {
    h2 {
      margin-bottom: 0;
      font-size: $font-size-base * 1.2;
      color: $gray-dark;
      font-weight: bold;
    }
    p {
      margin-bottom: 0;
      font-size: $font-size-base;
    }
    padding-top: 2.3rem;
    background-color: $gray;
    opacity: .9;
    right: 0;
    left: 0;
    bottom: 0;
    color: $gray-dark;
    text-align: left;
  }
}

