.degov-carousel {
  .carousel-control {
    .carousel-control-icon {
      width: 25px;
      height: 50px;
    }
  }
  .carousel-caption {
    h2 {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0;
      font-size: $font-size-base * 1.3;
    }
    padding-top: 2.3rem;
    background-color: $gray;
    opacity: .9;
    right: 0;
    left: 0;
    bottom: 0;
    color: $gray-dark;
    text-align: left;
  }
}
