footer.site-footer {
  @extend .p-5;
  background-color: $blue;
  color: $white;
  .chevron {
    font-size: $font-size-base * .7;
  }
  a {
    &:hover{
      color: $white;
      text-decoration: none;
    }
    color: $white;
  }
  .first-level {
    .first-level-link {
      font-size: $font-size-base * 1.3;
    }
    .second-level {
      .second-level-link {
      }
    }
  }
}
