<ul class="menu-user-profile-links skin--font-header">
  {% if logged_in %}
    <li class="first">
      <a href="/user" title="{% trans %}User{% endtrans %}" class="login">{% trans %}User{% endtrans %} <i class="fa fa-user" aria-hidden="true"></i></a>
    </li>
  {% else %}
    <li class="first">
      <a href="/user/login" title="{% trans %}Log in / Sign up{% endtrans %}" class="login">{% trans %}Log in / Sign up{% endtrans %} <i class="fa fa-user" aria-hidden="true"></i></a>
    </li>
  {% endif %}
</ul>
