.paragraph-node-reference-node-view-mode-preview {
  @extend .mt-5;
  .paragraph__header {
    color: $baltic-sea;
    h2 {
      font-weight: bold;
    }
    .under-teasers-header-line {
      width: 50px;
      height: 2px;
      background-color: $alto;
    }
  }
  .paragraph__content {
    article {
      flex-direction: column;
      display: flex;
      h3, h2 {
        font-size: $font-size-base * 1.4;
        font-weight: bold;
      }
      a {
        &:hover {
          color: inherit;
          text-decoration: none;
        }
        color: $gray-dark;
      }

      .learn-more {
        background-color: $blue;
        color: $white;
        font-size: $font-size-base * 1.11;
        .svg-inline--fa {
          vertical-align: sub;
          margin-left: 12px;
        }

      }
      .teaser-content {
        background-color: $porcelaint;
        flex: 1 1 auto;
      }

      .teaser-image {
        picture {
          > img {
            width: 100%;
          }
        }
      }
    }
  }
}

