.play-icon {
  color: $white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  i {
    font-size: 45px;
  }
  svg {
    width: 45px;
    height: 45px;
  }
}
