@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v18-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v18-latin-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Roboto italic";
  src: url("../fonts/roboto-v18-latin-italic.woff2") format("woff2"), url("../fonts/roboto-v18-latin-italic.woff") format("woff");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: "Roboto bold";
  src: url("../fonts/roboto-v18-latin-700.woff2") format("woff2"), url("../fonts/roboto-v18-latin-700.woff") format("woff");
  font-style: normal;
  font-weight: 700; }
