html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.path-user {
  #block-mainpagecontent {
    @extend .container;
  }
}

.bg-blue {
  background-color: $blue;
}

.bg-light-blue {
  background-color: $light-blue;
}
