// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//
// Bootstrap
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;
$white:   #fff;

// DeGov
$blue:    #154575;
$gray:    #CCCCCC;
$gray-light: #E6E8EA;
$gray-lighter: #E5E7E9;
$gray-dark: #2C2C2C;
