{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
set media_classes = [
'video',
'clearfix',
]
%}
<article{{ attributes.addClass(media_classes) }}>
  {{ content.contextual_links }}
  <div class="video__video">
    <div class="video js-social-media-code"{{ content.field_media_video_embed_field|quickedit_attr }}></div>
  </div>
  {{ field_media_copyright }}
</article>
